h1{
    color: rgb(249, 7, 56);
}
p   {
    background-color: rgb(163, 251, 188);
}
.Greetings{
    color: #fd9f08;
}
.content{
    color: #540ef7;
}
#Aboutme
{
    position: absolute;
    height: 100;
}
#Achievements
{
    position: absolute;
    height: 100%;
    top:100%;
}
a{
    background: rgb(118, 118, 255);
    color: black;
    border: 2px solid gray;
    padding: 2px 3px;
    text-decoration: none;
}
header{
    float: right;
}